body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color:rgb(0, 0, 0);
}

header {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: inherit;
    text-align: center;
}

header nav {
    padding: 0;
    display: inline;
    margin: 0 1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

li {
    display: inline;
    margin: 0 1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: inherit;
}

a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
}

.logo img {
    max-width: 200px;
    height: auto;
}

.spotlight {
    background: rgba(0, 217, 255, 0.421);
    padding: 2rem;
}

.cta {
    background-color:rgb(94, 20, 255);
    color: white;
    padding: 1rem 4rem;
    border-radius: 50px;
}

.cta:hover {
    background-color:rgb(0, 0, 0);
}

section {
    padding: 2rem 1rem;
    text-align: center;
}

footer {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 50px;
}