@layer components {
  .centered-content-chat {
    @apply flex min-h-screen items-center justify-center m-8 max-w-6xl mx-auto px-4 py-4;
  }

  .center-frame-chat {
    @apply bg-gray-900 min-h-screen flex flex-col items-center justify-center;
  }

  .title-style {
      @apply text-lg font-bold text-blue-500;
  }

  .chat-card {
    @apply flex flex-col gap-3 mb-4 bg-gray-800 p-4 shadow-sm rounded-xl;
  }

  .box-style {
    @apply rounded-xl bg-gray-600 p-2;
  }

  .button-style {
    @apply rounded-xl bg-blue-600 text-white font-medium hover:bg-blue-700 hover:cursor-pointer;
  }

  .line-style {
    @apply outline-1 outline-gray-600 mt-1;
  }

  .chat-time {
    @apply text-sm font-normal text-gray-400;
  }

  .chat-date {
    @apply text-sm font-medium text-gray-400 text-center;
  }

  .chat-bubble-header {
    @apply flex flex-row items-center space-x-2 ;
  }

  .dropdown-menu-style {
    @apply mr-5 w-40 min-w-40 bg-gray-900 rounded-xl shadow-sm transition ease-out duration-150 origin-top-right;
  }

  .dropdown-item-style {
    @apply text-sm font-normal text-white rounded-xl hover:text-blue-500 block w-full text-left p-2 cursor-pointer;
  }

  .text-style {
    @apply text-sm font-medium text-white;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}