@layer theme {
    .sky-blue {
      @apply bg-[#8DC5FF];
    }
}

@layer base {
  button {
    @apply cursor-pointer transition duration-200;
  }
}

@layer components {
  .centered-content-chat {
    @apply flex min-h-screen items-center justify-center m-8 max-w-6xl mx-auto px-4 py-4;
  }

  .center-frame-chat {
    @apply bg-gray-100 min-h-screen flex flex-col items-center justify-center;
  }

  .title-style {
      @apply text-lg font-bold text-gray-700;
  }

  .line-style {
    @apply outline-1 outline-gray-100;
  }

  .chat-card {
    @apply flex flex-col gap-2 mb-4 bg-white p-4 shadow-sm rounded-lg;
  }

  .box-style {
    @apply rounded-lg bg-gray-100 p-2 shadow-inner;
  }

  .button-style {
    @apply rounded-lg bg-blue-600 text-white font-medium hover:bg-blue-900 hover:cursor-pointer;
  }

  .chat-time {
    @apply text-sm font-normal text-gray-500;
  }

  .chat-date {
    @apply text-sm font-normal text-gray-500 text-center;
  }

  .chat-bubble-header {
    @apply flex flex-row items-center space-x-2 ;
  }

  .chat-options-menu-style {
    @apply mr-5 w-40 bg-gray-100 shadow-sm transition ease-out duration-150 origin-top-right rounded-sm;
  }

  .dropdown-item-style {
    @apply text-sm font-normal text-gray-900 hover:bg-blue-200 block w-full text-left p-2 cursor-pointer;
  }

  .text-style {
    @apply text-sm font-medium text-black;
  }

  .dropdown-menu-style {
    @apply p-4 pl-8 block w-full text-left transition bg-white hover:bg-gray-100 rounded-none border-none shadow-none;
  }

  .hover-transition {
    @apply transition duration-200;
  }

  .popup-style {
    @apply opacity-0 transition-opacity duration-500 absolute z-20 flex;
  }

  .close-popup-btn {
    @apply text-gray-400 hover:text-gray-500 text-xl cursor-pointer;
  }

  .user-list-style {
    @apply hover:text-blue-500 hover:font-bold transition duration-200 p-1 cursor-pointer;
  }
}

@layer utilities {
  .custom-scrollbar {
    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      border-radius: 9999px;
      background-color: theme('colors.gray.100');
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 9999px;
      background-color: theme('colors.gray.300');
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}