<div class="max-w-sm mx-auto bg-white p-10 rounded">
  <form id="login-form" action="/" class="space-y-4">
    <div>
      <label class="block mb-1" for="username">Username</label>
      <input id="username" autocomplete="username" class="field" type="text" required>
    </div>
    <div>
      <label class="block mb-1" for="password">Password</label>
      <input id="password" autocomplete="off" class="field" type="password" required >
    </div>
    <button id="login-button" class="btn-primary" type="submit">Log In</button>
    <p class="text-center text-xs font-bold">Forgot password ?</p>
    <div id="line1" class="outline-1 outline-gray-400 my-6" ></div>
    <div class="max-w-sm mx-auto bg-white p-6 my-8">
        <button id="signup-button" class="btn-secondary" type="button">Sign up</button>
    </div>
    </form>
</div>