<div class="max-w-sm mx-auto bg-white p-10 rounded">
  <h2 class="text-xl font-bold mb-4 text-center">Create Account</h2>
  <form id="signup-form" action="/" class="space-y-4">
    <div>
      <label for="username" class="block mb-1">Username</label>
      <input id="username" autocomplete="off" class="field" type="text">
      <div class="error-msg"></div>
    </div>
    <div>
      <label for="email" class="block mb-1">Email</label>
      <input id="email" autocomplete="email" class="field" type="text" >
      <div class="error-msg"></div>
    </div>
    <div>
      <label class="block mb-1">Password</label>
      <input id="password" autocomplete="off" for="password" class="field" type="password">
      <div class="error-msg"></div>
    </div>
    <div>
      <label class="block mb-1">Confirm password</label>
      <input id="password2" autocomplete="off" for="password2" class="field" type="password">
      <div class="error-msg"></div>
    </div>
    <button class="btn-primary" type="submit">Sign Up</button>
  </form>
</div>