<div class="form-style">
  <h2 class="text-xl font-bold mb-4 text-center text-white">Create Account</h2>
  <form id="signup-form" action="/" class="space-y-4">
    <div>
      <label for="username" class="label-style">Username</label>
      <input id="username" autocomplete="off" class="field" type="text">
      <div class="input-error-msg"></div>
    </div>
    <div>
      <label for="email" class="label-style">Email</label>
      <input id="email" autocomplete="email" class="field" type="text" >
      <div class="input-error-msg"></div>
    </div>
    <div>
      <label class="label-style">Password</label>
      <input id="password" autocomplete="off" for="password" class="field" type="password">
      <div class="input-error-msg"></div>
    </div>
    <div>
      <label class="label-style">Confirm password</label>
      <input id="password2" autocomplete="off" for="password2" class="field" type="password">
      <div class="input-error-msg"></div>
    </div>
    <button class="btn-primary" type="submit">Sign Up</button>
  </form>
</div>